<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>de.cdullo.STM32CubeMX.xcode4.template</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an STM32CubeMX Makefile project</string>
	<key>SorterOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>de.cdullo.platform.STM32CubeMX</string>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
		<string>public.c-source</string>
		<string>public.c-plus-plus-header</string>
		<string>public.c-plus-plus-source</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>PATH</key>
			<string>$(PATH):$(PROJECT_DIR)</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>$(SYSROOT)/usr/include $(PROJECT_DIR)/$(PROJECT_NAME)/Inc $(PROJECT_DIR)/$(PROJECT_NAME)/Drivers/CMSIS/Include $(PROJECT_DIR)/$(PROJECT_NAME)/Drivers/$(MCU_FAMILY)_HAL_Driver/Inc $(PROJECT_DIR)/$(PROJECT_NAME)/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy $(PROJECT_DIR)/$(PROJECT_NAME)/Drivers/CMSIS/Device/ST/$(MCU_FAMILY)/Include</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>$(SYSROOT)/usr/lib</string>
			<key>PRODUCT_NAME</key>
			<string>$(PROJECT_NAME)</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>All</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolArgsString</key>
			<string>all -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Build</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>build -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>clean -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>Name</key>
			<string>Index</string>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>stm32f0xx</string>
			<key>Description</key>
			<string>Microcontroller</string>
			<key>Identifier</key>
			<string>MICROCONTROLLER</string>
			<key>Name</key>
			<string>Microcontroller</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>stm32f0xx</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>Configurations</key>
						<dict>
							<key>Debug</key>
							<dict>
								<key>GCC_PREPROCESSOR_DEFINITIONS</key>
								<string>DEBUG=1, MCPU=cortex-m0, PTYPE=STM32F0XX_MD</string>
								<key>OTHER_LINKER_FLAGS</key>
								<string>-lSTM32F0XX</string>
							</dict>
							<key>Release</key>
							<dict>
								<key>GCC_PREPROCESSOR_DEFINITIONS</key>
								<string>MCPU=cortex-m0, PTYPE=STM32F0XX_MD</string>
								<key>OTHER_LINKER_FLAGS</key>
								<string>-lSTM32F0XX</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>st-link</string>
			<key>Description</key>
			<string>Programmer</string>
			<key>Identifier</key>
			<string>PROGRAMMER</string>
			<key>Name</key>
			<string>Programmer</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>st-link</key>
				<dict/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
