<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Identifier</key>
	    <string>de.cdullo.STM32CubeLLVM.xcode4.template</string>
        <key>Concrete</key>
	    <true/>
        <key>Description</key>
        <string>This template builds an STM32CubeMX Makefile project using the native Xcode llvm toolchain</string>
        <key>SorterOrder</key>
	    <integer>1</integer>
        <key>Platforms</key>
        <array>
            <string>de.cdullo.platform.STM32CubeLLVM</string>
        </array>
        <key>AllowedTypes</key>
        <array>
            <string>public.c-header</string>
            <string>public.c-source</string>
            <string>public.c-plus-plus-header</string>
            <string>public.c-plus-plus-source</string>
        </array>
        <key>Ancestors</key>
        <array>
            <string>com.apple.dt.unit.base</string>
        </array>
    </dict>
</plist>