<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Identifier</key>
	    <string>de.cdullo.STM32CubeLLVM.xcode4.template</string>
        <key>Concrete</key>
	    <true/>
        <key>Description</key>
        <string>This template builds an STM32CubeMX Makefile project using the native Xcode llvm toolchain</string>
        <key>SorterOrder</key>
	    <integer>1</integer>
    </dict>
</plist>